<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167838128706-f9nme0m8pld5iiuokoc6pn5g430gf2k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167838128706-f9nme0m8pld5iiuokoc6pn5g430gf2k8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>167838128706-6c9kihnpuvvfujj6pu8h2khohp7bko6k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT9DEN-zC8Gr74-zDjmvhLZ9Jrv9Q90zc</string>
	<key>GCM_SENDER_ID</key>
	<string>167838128706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cled.swit</string>
	<key>PROJECT_ID</key>
	<string>swit-2e779</string>
	<key>STORAGE_BUCKET</key>
	<string>swit-2e779.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167838128706:ios:c230cd9d9614e401a6abdb</string>
</dict>
</plist>